@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
body {
  font-family: "Arimo", sans-serif;
  margin: 0;
  padding: 0;
}

/* Partie header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10px 20px;
}
header .right {
  display: flex;
  flex-direction: raw;
  justify-content: flex-end;
}
header p {
  margin-right: 10px;
  color: #000;
  cursor: pointer;
}
header p:hover {
  color: #787878;
}
header .right svg {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
header .right p.user {
  font-size: 30px;
  margin-top: 10px;
  color: #595959;
}
.connexion {
    background: rgb(26, 115, 232);
  border-radius: 4px;
  min-width: 96px;
  text-align: center;
  height: auto;
  margin: 0 8px;
  padding: 9px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.connexion a{
    color: white;
    text-decoration: none;
    
}

/* Fin de la partie header */

/* Partie principale */
img {
    width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.main .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
}
.main .form-group input {
  margin-top: 50px;
  padding: 15px;
  border-radius: 50px;
  border: solid #d1d1dd;
  outline-color: none;
  width: 100%;
}
.main .form-group input:hover,
.main .form-group input:focus {
  -webk-webkit-box-shadow: -8px -1px 19px -8px rgba(184, 184, 184, 1);
  -moz-box-shadow: -8px -1px 19px -8px rgba(184, 184, 184, 1);
  box-shadow: -8px -1px 19px -8px rgba(184, 184, 184, 1);
  border: none;
}
.main .form-group label i {
  float: right;
  font-size: 20px;
  margin-top: -35px;
  margin-right: -15px;
  position: relative;
  cursor: pointer;
}

.loupe {
    display: block;
    height: 100%;
    width: 100%;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.loupe a{
    margin-top: 3px;
    color: #9aa1a6;
}

.mic {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main .buttons {
  margin-top: 40px;
}
.main .buttons button {
  padding: 10px 20px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
}
/* Fin de la partie principale */

/* Partie footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 20px;
}
footer .right {
  display: flex;
  flex-direction: raw;
  justify-content: center;
}
footer p {
  margin-right: 10px;
  color: #787878;
  cursor: pointer;
}
footer p:hover {
  color: #000;
}
footer .right svg {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
footer .right p.user {
  font-size: 30px;
  margin-top: 10px;
  color: #595959;
}
/* Fin de la partie footer */
