@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

/* Partie header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px 20px;
}
header .right{
    display: flex;
    flex-direction: raw;
    justify-content: flex-end;
}
header p{
    margin-right: 10px;
    color: #787878;
    cursor: pointer;
}
header p:hover{
    color: #000;
}
header .right svg{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
header .right p.user{
    font-size: 30px;
    margin-top: 10px;
    color: #595959;
}
/* Fin de la partie header */

/* Partie principale */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.main .form-group{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.main .form-group input{
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
    border: solid #d1d1dd;
    outline-color: none;
    width: 100%;
}
.main .form-group input:hover,.main .form-group input:focus{
    -webk-webkit-box-shadow: -8px -1px 19px -8px rgba(184,184,184,1);
    -moz-box-shadow: -8px -1px 19px -8px rgba(184,184,184,1);
    box-shadow: -8px -1px 19px -8px rgba(184,184,184,1);
    border:none;
}
.main .form-group label i{
    float: right;
    font-size: 20px;
    margin-top: -35px;
    margin-right: -15px;
    position: relative;
    cursor: pointer;
}
.main .buttons{
    margin-top: 40px;
}
.main .buttons button{
    padding: 10px 20px;
    background-color:#f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
}
/* Fin de la partie principale */

/* Partie footer */
/* Fin de la partie header */


